{% extends 'base.html' %}
{% block sidebar %}

    <div class="container-fluid">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
                <div class="list-group border-0 card text-center text-md-left">
                    <a href="home" class="list-group-item d-inline-block collapsed"><i
                            class="fas fa-book-open fa-fw"></i> <span class="d-none d-md-inline">Overview</span></a>
                    {% for  class_ in class_list %}
                        <a href="" class="list-group-item d-inline-block collapsed" data-class-id="{{ class_.id }}"><i
                                class="fas fa-pencil-alt fa-fw"></i> <span
                                class="d-none d-md-inline">{{ class_.class_id }} - {{ class_.name }}</span></a>
                    {% endfor %}
                    <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse"
                       aria-expanded="false"><i class="fas fa-graduation-cap fa-fw"></i> <span
                            class="d-none d-md-inline">Class History</span></a>
                    <div class="collapse" id="menu1" data-parent="#sidebar">
                        {% for  class_ in old_classes %}
                            <a href="" class="list-group-item" data-parent="#menu1"
                               data-class-id="{{ class_.id }}">{{ class_.class_id }} - {{ class_.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <main class="col-md-10 float-left col px-5 pl-md-2 pt-2 main">
            <div id="flash-messages">
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='error' %}
                                {% set category='danger' %}
                            {% endif %}
                            <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            </div>
            {% block content %}
            {% endblock content %}
        </main>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endblock sidebar %}

{% block basescripts %}
    <script>
        $(document).ready(function () {
            $("[data-class-id]").on('click', function (e) {
                var data = $(this).data('class-id');
                var url = "/api/v1/class_details/"
                e.preventDefault();
                $('#main-content').load(url + data);
                return false;
            });

            setTimeout(function () {
                $('#flash-messages').fadeOut();
            }, 3000);
        });

    </script>
    {% block scripts %}
    {% endblock scripts %}
{% endblock basescripts %}