{% extends 'base.html' %}
{% block sidebar %}
    <div class="container-fluid">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
                <div class="list-group border-0 card text-center text-md-left">
                    <!--<a href="home" class="list-group-item d-inline-block collapsed"><i
                            class="fas fa-book-open fa-fw"></i> <span class="d-none d-md-inline">Overview</span></a>
                            -->
                    {% for grade in grades_list %}
                        <a href="" class="list-group-item d-inline-block collapsed" data-grade="{{ grade }}"><i
                                class="fas fa-pencil-alt fa-fw"></i> <span
                                class="d-none d-md-inline">{{ grade }}{% if grade == 3 %}rd{% else %}
                            th{% endif %} Grade</span></a>
                    {% endfor %}
                </div>
                -->
            </div>
        </div>
    </div>
    <main class="col-md-10 float-left col px-5 pl-md-2 pt-2 main">
        {% block content %}
        {% endblock content %}
    </main>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    </div>
{% endblock sidebar %}

{% block basescripts %}
    <script>
        jQuery(document).ready(function () {
            $("[data-grade]").on('click', function (e) {
                var data = $(this).data('grade');
                var url = "/api/v1/grade_details/"
                e.preventDefault();
                jQuery('#main-content').load(url + data);
                return false;
            });
        });
    </script>
    {% block scripts %}
    {% endblock scripts %}
{% endblock basescripts %}